# Default
__pycache__/
*.so
build/
.env
.venv
env/
venv/
.vscode

# Custom
output.jpg
/.idea/.gitignore
/.idea/modules.xml
/.idea/parking-map-backend-ml.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
